workflow {
    name = 'HyDRA'
}

// Per-process resource customization
process {
    withName: '*_FASTQC' {
        ncpus = 1
        mem = '10 GB'
        walltime = '02:00:00'
        container = 'hydra/containers/hydra_nonconflicting:latest'
    }

    withName: '*_MULTIQC' {
        ncpus = 1
        mem = '1 GB'
        walltime = '01:00:00'
        container = 'hydra/containers/hydra_nonconflicting:latest'
    }

    // Add other steps as needed, with or without shared containers
}

// User-overridable parameters (CLI: --f1, --f2, etc.)
params.f1 = null
params.f2 = null
params.outdir = "./results"


// Parameters for processes (you can add more parameters depending on your needs)
params {
    f1 = ""  // First file (to be used in FastQC, etc.)
    f2 = ""  // Second file (to be used in FastQC, etc.)
    out_path = ""  // Output directory for results
    thislogdate = ""  // Date format for result naming (example)
    // You can add more parameters if necessary
}